<!-- app/views/home/index.html.erb --> <!-- Página principal -->
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :movies, "data-turbo-track": "reload" %>
<% end %>
<h2><%= t("welcome") %></h2>

<% if logged_in? %>
  <%= t("users.welcome") %> <%= current_user.username %>
  <% if @rated_movies.present? %>
  <h3><%= t("users.ratedmovies") %></h3>
  <% @rated_movies.each do |movie| %>
    <div class="movie">
      <div class="movie-left">
      <%= image_tag(movie['poster_path'] ? "https://image.tmdb.org/t/p/w500#{movie['poster_path']}" : asset_path('placeholder.png'), class: "movie-poster") %>
      </div>
      <div class="movie-details">
          <strong><%= movie['title'] %></strong><br>
          <%= movie['overview'] %><br>
        </div>
      <p><%= t("users.your_rating") %> <%= movie["user_score"] %> <%= t("stars") %></p>
      <p><%= t("users.combined_rating") %> <%= movie["combined_rating"] %> / 5</p>
      <p><%= t("users.total_users") %> <%= movie["user_count"] %></p>
    </div>
    <% end %>
  <% else %>
  <p><%= t("users.no_ratings") %></p>
  <% end %>
<% else %>
  <%= link_to t("login.title"), login_path %>
  <%= link_to t("login.register"), new_user_path%>
<% end %>